<IfModule mod_rewrite.c>
    RewriteEngine On

    # Si el archivo o carpeta solicitada existe, sírvelo directamente
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Si no, redirige todo a index.php
    RewriteRule ^ index.php [QSA,L]
</IfModule>